.bg-roxo {
  background-color: #3d1d3c;
}
.bg-vermelho {
  background-color: #BD2025;
}
.bg-amarelo {
  background-color: #C87C29;
}
.roxo {
  color: #3d1d3c;
}
.vermelho {
  color: #BD2025;
}
.amarelo {
  color: #C87C29;
}
.center-auto {
  margin: 0 auto;
}
.light {
  color: #929292;
}
.nav-tabs {
  margin-bottom: 30px;
}
.btn-vermelho-full {
  background-color: #BD2025;
  color: #fae2e3;
}
.btn-vermelho-full:hover,
.btn-vermelho-full:active,
.btn-vermelho-full:focus {
  background-color: #dd3339;
  color: #fae2e3;
}
.btn-vermelho-light {
  background-color: transparent;
  color: #dd3339;
  border: 2px #e0494e solid;
}
.btn-vermelho-light:hover,
.btn-vermelho-light:active,
.btn-vermelho-light:focus {
  background-color: #dd3339;
  color: #fae2e3;
}
.form-control.addon-left {
  border-left: 0;
}
.form-control.addon-right {
  border-right: 0;
}
.btn-roxo-full {
  background-color: #3d1d3c;
  color: #ebd4ea;
}
.btn-roxo-full:hover,
.btn-roxo-full:active,
.btn-roxo-full:focus {
  background-color: #602d5e;
  color: #ca8fc8;
}
.btn-roxo-light {
  background-color: transparent;
  color: #602d5e;
  border: 2px #71366f solid;
}
.btn-roxo-light:hover,
.btn-roxo-light:active,
.btn-roxo-light:focus {
  background-color: #602d5e;
  color: #ca8fc8;
}
.btn-amarelo-full {
  background-color: #C87C29;
  color: #fdf8f3;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.btn-amarelo-full:hover,
.btn-amarelo-full:active,
.btn-amarelo-full:focus {
  background-color: #da954a;
  color: #fdf8f3;
}
.btn-amarelo-light {
  background-color: transparent;
  color: #da954a;
  border: 2px #dea25f solid;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.btn-amarelo-light:hover,
.btn-amarelo-light:active,
.btn-amarelo-light:focus {
  background-color: #da954a;
  color: #fdf8f3;
}
