@import '../../../node_modules/bootstrap/less/bootstrap.less';
@import '../../../node_modules/bootstrap-slider/less/bootstrap-slider.less';
@import "lib/mixins.less";
@import "resets.less";
#demo {
    .text-center();
    .container;
    img {
        .img-responsive;
        .center-auto;
        .pad-y(20px);
    }
    // Cores
    .cores {
        .make-row();
        .clearfix;
        .well;
        .bg-vermelho,
        .bg-roxo,
        .bg-amarelo {
            .make-column(12, 12, 4, 4);
            padding: 30px;
        }
        .bg-vermelho {
            h3 {
                color: lighten(@vermelho, 20%);
            }
        }
        .bg-roxo {
            h3 {
                color: lighten(@roxo, 20%);
            }
        }
        .bg-amarelo {
            h3 {
                color: lighten(@amarelo, 20%);
            }
        }
    }
    // Tipografia
    .tipografia {
        .make-row();
        .clearfix;
        .headers,
        .paragrafo {
            .make-column(12, 12, 12, 12);
            .well;
        }
        .paragrafo {
            p {
                span {
                    font-size: @font-size-h4;
                }
            }
        }
    }
    // Botões custom
    .botoes-custom {
        .make-row();
        .clearfix;
        .well;
        .col {
            .make-column(12, 12, 4, 4);
            .btns {
                .make-row();
                .full,
                .light {
                    .make-column(12, 12, 6, 6);
                    a {
                        margin: 10px;
                    }
                }
            }
        }
    }
    // Botoes default
    .botoes-default {
        .make-row();
        .clearfix;
        .well;
        .col {
            .make-column(12, 12, 4, 4);
            &.off {
                .make-md-column-offset(1);
            }
            &.menor {
                .make-column(12, 12, 3, 3);
            }
            .btns {
                .make-row();
                .full,
                .light {
                    .make-column(12, 12, 6, 6);
                    a {
                        margin: 10px;
                    }
                }
            }
        }
    }
    // Formularios
    .formularios {
        .text-left;
        .inputs {
            .make-row();
            .col {
                .make-column(12, 12, 12, 12);
                .well;
            }
        }
    }
    // Tabelas
    .tabelas,
    .progress-bars {
        .make-row();
        .well;
    }
    .tabelas {
        .text-left;
    }
}

// Pagina de login
#login {
    margin-top: 120px;
    img {
        .img-responsive;
        .center-auto;
        .pad-y(20px);
        max-width: 220px;
    }
    .sth-login-form {
        max-width: 400px;
        .well;
        .center-auto;
        padding-top: 0;
        padding-bottom: 0;
        &>.row {
            padding: 20px;
        }
        img {
            .img-responsive;
        }
        .botao,
        .recuperar {
            .make-column(12, 12, 6, 6);
        }
        h3 {
            .light;
            margin-top: 15px;
        }
    }
    .sth-icone-bottom {
        .sth-icone-bottom(50px);
    }
}

// Painel
#painel {
    background-color: @body-bg;
    #topo {
        background-color: lighten(@body-bg, 8%);
        padding-bottom: 50px;
        img {
            .img-responsive;
            max-width: 250px;
        }
        .logo,
        .sth-menu-usuario {
            .make-column(12, 12, 6, 6);
        }
        .logo {
            img {
                float: left;
                .pad-y(30px);
            }
        }
        .sth-menu-usuario {
            .sth-icone {
                float: right;
                position: relative;
                top: 80px;
                z-index: 1;
            }
        }
    }
    // conteudo main
    #main {
        .container;
        .well;
        min-height: 500px;
        margin-top: -55px;
        @media (min-width: 1200px) {
            width: 1250px;
        }
        .sth-menu-lateral {
            .make-column(3, 3, 3, 3);
            .sidebar-nav {
                .titulo {
                    background-color: @roxo;
                    .border-top-radius(@border-radius-base);
                    a {
                        color: #fff;
                        padding: 5px 15px;
                    }
                }
                .nav-list {
                    a {
                        padding-left: 40px;
                        color: #999;
                        i {
                            color: lighten(@amarelo, 15%);
                        }
                    }
                }
            }
            .minha-conta {
                margin-top: 20px;
            }
        }
        .pagina {
            .make-column(9, 9, 9, 9);
        }
    }
    .creditos {
        color: darken(@body-bg, 15%);
        .text-center;
    }
    // Forms que abrem dentro do painel
    #criar-email {
        .form-novo-email,
        .senha,
        .cfrm-senha{
            .make-column(12, 12, 6, 6);
        }
        
        .dicas{
            .well;
            .make-column(12, 12, 5, 5);
                        .make-offset(1,1,1,1);

        }

        .espaco-conta {
            .make-column(12,12,12,12);
        }
    }
}